:root{
    --primary-color: rgb(177, 50, 177);
    --second-color: #D9D9D9;
    --light-color: #FFF;
    --primary-font: "Montserrat", sans-serif;
    --second-font: "Source Sans 3", sans-serif;
    --primary-size:8px;
    --second-size:12px;
}
/* Global setting */
*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
h1 h2 h3{
    font-family: var(--primary-font);
}
p, a{
    font-family: var(--second-size);
}
/* Header */
header{
    background-color: var(--primary-color);
}
header nav img{}